<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\MessageQueue\ConsumerInterface"
                type="RunAsRoot\MessageQueueRetry\Queue\Consumer"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="message_queue_retry_listing_data_source" xsi:type="string">
                    RunAsRoot\MessageQueueRetry\Model\ResourceModel\Message\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="RunAsRoot\MessageQueueRetry\Model\ResourceModel\Message\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="const">
                RunAsRoot\MessageQueueRetry\Api\Data\MessageInterface::TABLE_NAME
            </argument>
            <argument name="resourceModel" xsi:type="string">
                RunAsRoot\MessageQueueRetry\Model\ResourceModel\MessageResource
            </argument>
        </arguments>
    </virtualType>
</config>
