<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="message_queue_retry" frontName="message_queue_retry">
            <module name="RunAsRoot_MessageQueueRetry"/>
        </route>
    </router>
</config>
